.answerCard {
  background-color: #006583;
  width: 45%;
  border-radius: 8px;
  padding: 2px;
  text-align: center;
  margin: 10px;
  transition: all 300ms;
  cursor: pointer;
}

.answerCard:hover {
  color: #006583;
  background-color: #E8F9FF;
}

.answerTitle {
  font-size: 20px;
}

.correct {
  color: #E8F9FF;
  background-color: #37AE34;
}

.incorrect {
  color: #E8F9FF;
  background-color: #C65858;
}

@media (max-width: 800px) {
  .answerCard {
    width: 70%;
  }
}
