.answerBtn {
  background-color: #006583;
  width: 45%;
  border: none;
  border-radius: 8px;
  padding: 2px;
  text-align: center;
  margin: 10px;
  transition: all 300ms;
  cursor: pointer;
  color: #E8F9FF;
}

.answerBtn:hover {
  color: #006583;
  background-color: #E8F9FF;
}

.answerTitle {
  font-size: 20px;
}

.correct {
  color: #E8F9FF;
  background-color: #37AE34;
}

.correct:hover {
  color: #E8F9FF;
  background-color: #37AE34;
}

.incorrect {
  color: #E8F9FF;
  background-color: #C65858;
}

.incorrect:hover {
  color: #E8F9FF;
  background-color: #C65858;
}

.disabled {
  color: #8a8a8a;
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.disabled:hover {
  color: #8a8a8a;
  background-color: #d3d3d3;
}


.disabledCorrect {
  color: #8a8a8a;
  background-color: #d3d3d3;
  border: 5px solid #37AE34;
  cursor: not-allowed;
}

.disabledCorrect:hover {
  color: #8a8a8a;
  background-color: #d3d3d3;
}

@media (max-width: 800px) {
  .answerCard {
    width: 70%;
  }
}
